
    <style type="text/css">
      #dock .dockicon,
    .screen .icon {
        float: left;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        margin: 12px;
        position: relative;
    }

    /* The dock icons get subtle shadows below them */

    #dock .dockicon:after {
        border-radius: 50px/10px;
        bottom: 7px;
        box-shadow: 0 5px 2px #000000;
        content: "";
        height: 1px;
        position: absolute;
        width: 58px;

    }

    #dock {
        position: fixed;
        bottom: 18px;
        left: 0px;
        right: 0px;
        background-image: url('img/dock.png');
        background-size: 100% 100%;
        width: 100%;
        padding-left: 10%;
        z-index: 20000;
    }

    .dockicon {
        width: 40px !important;
        height: 40px !important;
        margin-top: -10px !important;
        z-index: 20000;
    }

    .dockicon:after {
        content: attr(title) !important;
        font-size: 10px !important;
        width: 40px !important;
        text-align: center;
        color: white;
    }

    .navbar {
        margin-bottom: 0px !important;
    }

    #branding {
        position: fixed;
        bottom: 73px;
        width: 80%;
        left: 30px;
        right: 30px;
        background-size: 100% 100%;

    }
    .search-icon{
        position: absolute;
        right: 30px;
    }
    .canvasHolder input{
        width:100%;
        line-height: 2;
    }
    .college-list > .row >div{
        line-height: 1.8;
    }
   
</style>


<div class="scrollable">
    <div class="scrollable-content">
        <div id="canvas" class="canvasHolder">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <input type="text" placeholder="your college" name="query" ng-model="query"><span class="search-icon">jshdj<i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="college-list">
                <div class="row" ng-repeat="tenant in tenants" ng-click="selectCollege(tenant.tenant)">
                    <div class="col-xs-12 col-sm12 col-md-12 col-lg-12">
                        <span class="college-icon"><img ng-src="{{tenant.logoURL}}">  </span> <div>{{tenant.name}}</div><span class="pull-right"><i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                
            </div>

        </div>

    </div>
</div>

