<!DOCTYPE html>
<!--
 
 ** NOTE **
 
 Run `grunt connect` then
 navigate to http://localhost:3001/demo
 to see this page in browser
 
 -->

<html>

<head>
    <meta charset="utf-8" />

    <title>KRYPTOS Mobile</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />

    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <!--<link rel="stylesheet" href="assets/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="assets/css/mobile-angular-ui-max-width-767px.min.css" />
    <link rel="stylesheet" href="assets/css/mobile-angular-ui-min-width-768px-and-max-width-991px.min.css" />
    <link rel="stylesheet" href="assets/css/mobile-angular-ui-min-width-992px-and-max-width-1199px.min.css" />
    <link rel="stylesheet" href="assets/css/mobile-angular-ui-screen-and-min-width-768px.min.css" />
    <link rel="stylesheet" href="assets/css/mobile-angular-ui-desktop.min.css" />-->

    <link rel="stylesheet" href="assets/css/apprise.min.css" rel="stylesheet" />
    <link href="assets/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/eventCalendar.css">
    <link rel="stylesheet" href="assets/css/eventCalendar_theme_responsive.css">
    <link rel="stylesheet" href="assets/css/promptumenu.css">
    <link rel="stylesheet" href="assets/css/customCSS.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/spectrum.css">

    <script src="assets/js/angular.js"></script>
    <script src="assets/js/angular-route.min.js"></script>
    <script src="assets/js/mobile-angular-ui.min.js"></script>
    <script src="assets/js/mobile-angular-ui-touch-fastclick.min.js"></script>
    <script src="assets/js/mobile-angular-ui-scrollable-overthrow.min.js"></script>

    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>

    <script src="assets/js/jquery.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/handlebars.js"></script>
    <script src="assets/js/jquery.xml2json.js"></script>
    <script src="assets/js/jquery.ui.map.min.js"></script>
    <script src="assets/js/jstorage.js"></script>
    <script src="assets/js/jquery.eventCalendar.js"></script>
    <script src="assets/js/blockui.min.js"></script>
    <script src="assets/js/jquery.promptu-menu.js"></script>
    <script src="assets/js/moment.js"></script>
    <script src="assets/js/spectrum.js"></script>
    <script type="text/javascript" src="assets/js/apprise.min.js"></script>
    <style>
        .sidebar-left-in .app,
        .sidebar-left-in .navbar,
        .sidebar-left-in .app-body {
            box-shadow: inset 1px 0px 12px rgba(100, 100, 100, 0.4) !important;
        }

        .app-body {
            padding-bottom: 0px !important;
        }

        .newsticker {
            background: #C0392B;
            border-radius: 5px;
            color: #fff;
            cursor: default;
            font-family: verdana;
            font-weight: bold;
            font-size: 13px;
            line-height: 15.6px;
            padding: 0 10px 0 10px;
            height: 30px;
            position: relative;
            overflow: hidden;
            max-width: 400px;
            margin: 30px auto;
        }

        .newsticker .newsticker-list {
            position: absolute;
            top: 7.2px;
        }

        .newsticker .newsticker-list .newsticker-item {
            height: 100px;
            overflow: hidden;
            white-space: nowrap;
        }

        .footerGroupIcons {
            background: #f4f4f4 !important;
            border-top: 1px solid #bebfc0;
        }
         [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
         display: none !important;
        }
    </style>
</head>

<!--<body ng-app="myApp" ng-controller="MainController">-->

<body class="proximaFont" ng-cloak>
    <style id="customstyle">
        {
            {
                customStyle
            }
        }
    </style>
    <div class="app" style="background:url("{{backgroundUrl}}");">
        <div style="" class="header proximaSemiBoldFont fontSize18 headerFooterBg">
            <div class="pull-left backButtonArrow">
                <div ng-hide="showlogin" title="Back" aria-label="Back" name="Back" data-name="Back" ng-click="back();">
                    <img src="images/back-icon.png" alt="">
                </div>
            </div>
            <div ng-bind="appDisplayName" class="text-center"></div>
        </div>


        <div id="footerContentContainer" class="footerGroupIcons testClass">
            <div ng-repeat="ag in appgroups">
                <div ng-repeat="app in ag.apps" ng-if="app.showInDock" class="applet{{app.id}}">

                    <a ng-if="app.displayname != 'Notifications'" aria-label="{{app.displayname}}" href="#/app/{{app.name}}/{{app.name}}">
                        <img  ng-src="{{app.logo}}" />
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!--<div id="bottomPoweredBy" class="bottomPoweredBy headerFooterBg">
            <div>Powered by Unifyed. Copyright © {{currentYear}}</div>
        </div>-->

        <div id="fixedHeaderContent"></div>
        <div id="fixedFooterContent"></div>

        <!--<div class="app-body" ng-class="{loading: loading}" >
            <ng-view class="app-content" ng-hide="loading"></ng-view>
        </div>-->

        <div class="app-body" ng-class="{loading: loading}">
                <div ng-show="loading" class="app-content-loading">
                    <!--<i class="fa fa-spinner fa-spin loading-spinner"></i>-->
                </div>
                <ng-view class="app-content" ng-hide="loading"></ng-view>
        </div>
    </div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("feeds", "1");
    </script>
    <script type="text/javascript">
        $.blockUI.defaults.css.border = 'none';
        $.blockUI.defaults.css.background = 'none';
        $.blockUI.defaults.overlayCSS.opacity = 0.5;
        /*$.blockUI.defaults.message = '<div style="margin: 17px; vertical-align: middle; display: inline-block"><i class="icon-cog icon-spin icon-5x" style="color:white;"></i><h3 style="color:white;">Loading</h3></div>';*/

        $.blockUI.defaults.message = '<div id="floatingBarsG"><div class="blockG" id="rotateG_01"></div><div class="blockG" id="rotateG_02"></div><div class="blockG" id="rotateG_03"></div><div class="blockG" id="rotateG_04"></div><div class="blockG" id="rotateG_05"></div><div class="blockG" id="rotateG_06"></div><div class="blockG" id="rotateG_07"></div><div class="blockG" id="rotateG_08"></div></div><div></div>';

        if (MyCampusApp.config.serverUrl == "") {
            onDeviceReady();
        }
    </script>
    <span id="sampleicon" class="icon" style="display:none"></span>
</body>

</html>